name: Terraform Deploy

on:
  push:
    branches:
      - main
    paths:
      - "**/*.tf"

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        env: [dev]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::<ACCOUNT_ID>:role/github-actions-terraform-role
          aws-region: us-west-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Workspace
        run: |
          terraform workspace select ${{ matrix.env }} || terraform workspace new ${{ matrix.env }}

      - name: Terraform Plan
        run: terraform plan -var-file=environments/${{ matrix.env }}/terraform.tfvars

      - name: Terraform Apply
        run: terraform apply -auto-approve -var-file=environments/${{ matrix.env }}/terraform.tfvars


